/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My code below */

/*star tag selects all elements and applies anything inside brackets to all elements*/
* {
    text-decoration: none; /* removes underline under content*/
}
/*makes content page visible because it was pushed up before*/
main {
    padding-top: 100px;
}

body {
    background-color: black;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #D3D3D3;
    width: 100%;
    height: 100px;
}
/* class of header name Eduardo Raygoza*/ 
header .header-name {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900; /*boldness*/
    color: #3D3F40;
    text-transform: uppercase;
    display: block; /*turns header name into block so it can be more easily styled to center*/
    margin: 0 auto;
    text-align: center;
    /*creates a margin at the top and bottom between the top of website and name (Eduardo...)*/
    padding: 20px 0; /*top_bottom    left_right*/
}

/*styling below is for the navigation with list and links*/
header nav ul {
    display: block;
    margin: 0 auto; /*centers nagivigation content*/
    width: fit-content;
    
}

header nav ul li{
    display: inline-block; /*sets na ul li next to each other*/
    float: left; /*Gets rid of small gaps between links*/
    list-style: none; /*Gets rid of the bullet points*/
    padding: 0 16px;
}

header nav ul li a {
    font-family: Roboto;
    font-size: 16px;
    color: #3D3F40;
    text-transform: uppercase;
}
/*Removes link from header*/
header .header-coursework {
    display: none;
}

/*Wesbite Responsiveness done after mobile designed first*/
@media only screen and (min-width:1000px) {
    header .header-name {
        margin: 30px 0;
        text-align: left;
        /*creates a margin at the top and bottom between the top of website and name (Eduardo...)*/
        padding: 0 20px 0px 40px; /*top_bottom    left_right*/
        border-right: 3px solid black;
        /*floating item to the left from top right corner*/
        float: left;
        line-height: 38px;
    }

    header nav ul {
        margin: 20px 0 0 20px; /*centers nagivigation content*/
        /*adding float because it needs to be on right side of logo*/
        float: left;
    }

    header nav ul li a {
        /*After float on header nav ul add a line height to push it down*/
        line-height: 60px;
        /*We have 60px, 100%height inside header, subtract the 60px from 100 which is 40 then we have 20 left over which is split into top and bottom of navigation.  */
    }
}

/*Index html page */
.index-banner {
    width: 100%;
    height: calc(100vh - 100px); /*view height setting 100% of device height 100px is the height of header*/
    background-image: url("images/universe.jpg");/*Gets image from folder to be used as banner*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /*means that it'll cover entire banner no matter the height and width*/
    display: table;
}

.center-vertical {
/*making banner into table and aligning in center*/
    display: table-cell;
    vertical-align: middle;

}

/*styling content inside banner h2*/
.index-banner h2 {
    font-family: Roboto;
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px 8px #111 /*makes text visible over image*/

}

/*styling content inside banner h1*/
.index-banner h1 {
    font-family: Courgette;
    font-size: 24px;
    line-height: 40px; /*Add space in between characters*/
    color: #fff;
    text-align: center;
    font-weight: 150;
    text-shadow: 2px 2px 4px #111;
}

/* styling all divs inside containers*/
.index-website-links div {
    margin: 20px 20px 0px;
    width: cal(100% - 40px);
    height: 100px; /*Total height of box */
    background-color: #f2f2f2;
}

/* Styling text inside containers h3 tags*/
.index-website-links div h3 {
    font-family: Roboto;
    font-size: 24px;
    line-height: 100px; /*Total height of box is 100px. This is to center my text.*/
    color: black;
    text-align: center;
    font-weight: 200;
    text-shadow: 2px 2px 4px #111;
    text-transform: uppercase;

}

/*Footer*/

footer {
    width: (100%-80px);/*40px from left 40 from right */
    padding: 40px 40px; /*Top/bottom, left/right*/
    background-color: #D3D3D3;
    margin-top: 20px;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;

}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
    text-align: center;

}
footer ul li {
    display: block;
    list-style: none;
    text-align: center;
    font-size: 30px;

}
footer ul li a {
   font-family: Roboto;
   font-size: 30px;
   color: white;
   line-height: 20px;
   text-align: center;
}
